["curl-8.17.0"]
cve = [
  "CVE-2025-13034",
  "CVE-2025-14017",
  "CVE-2025-14524",
  "CVE-2025-14819",
  "CVE-2025-15079",
  "CVE-2025-15224",
]

["ada-3.4.1"]
cve = "CVE-2024-9410"

["gcc-15.2.0"]
cve = "CVE-2023-4039"

["glibc-2.42-47"]
cve = "CVE-2025-15281"

["zlib-1.3.1"]
cve = ["CVE-2023-6992", "CVE-2026-22184"]

["openssl-3.6.0"]
cve = [
  "CVE-2025-11187",
  "CVE-2025-15467",
  "CVE-2025-15468",
  "CVE-2025-15469",
  "CVE-2025-66199",
  "CVE-2025-68160",
  "CVE-2025-69418",
  "CVE-2025-69419",
  "CVE-2025-69420",
  "CVE-2025-69421",
  "CVE-2026-22795",
  "CVE-2026-22796",
]
